* {
  font-family: "Circular Book", sans-serif;
}
body {
  background-color: #97979762;
}
.logo {
  font-family: Gilroy-ExtraBold;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular Book";
  src: url("fonts/lineto-circular-pro-book.eot");
  src: url("fonts/lineto-circular-pro-book.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/lineto-circular-pro-book.woff2") format("woff2"),
    url("fonts/lineto-circular-pro-book.woff") format("woff"),
    url("fonts/lineto-circular-pro-book.ttf") format("truetype"),
    url("fonts/lineto-circular-pro-book.svg#Circular Book") format("svg");
}
