button {
  outline:none !important;
}
li {
  outline:none !important;
}
.router-link-exact-active i {
  color: #32c0fb;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}